{%- extends 'index.html' -%}
{%- block body -%}
	<div class="post">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1>客戶資訊</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<table class="table table-striped">
						<tr>
							<th>名稱</th>
							<th>電話</th>
							<th>公司</th>
							<th>email</th>
						</tr>
						{%- for customer in customers -%}
						<tr>
							<td> {{ customer["name"] }} </td>
							<td> {{ customer["phone"] }} </td>
							<td> {{ customer["company"] }} </td>
							<td> {{ customer["email"] }} </td>
						</tr>
						{%- endfor -%}
					</table>
				</div>
		    </div>
		</div>
	</div>
{%- endblock -%}
